@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.header {
  position: fixed;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-top: 1.3rem;
  padding: 0.4rem 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  background: rgba(0, 98, 155, 0.8);
  backdrop-filter: blur(1rem);
  border: 0.1rem solid black;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 1rem;
}

.logo img{
    width: 11rem;
}

.nav1 ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav1 li {
  cursor: pointer;
  font-weight: 600;
  position: relative;
  padding-bottom: 0.25rem;
  transition: color 0.3s ease;
  color:  #ffdcdc;
}

.nav1 li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.nav1 li:hover {
  color: black;
}

.nav1 li:hover::after {
  width: 100%;
}

.hamburger {
  display: none; /* Hide by default */
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #ffdcdc;
  cursor: pointer;
}

.nav1 {
  display: flex; /* Default to flex for desktop */
}

.nav2{
  display: none;
}

@media (max-width: 768px) {

.header {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0rem;
  font-weight: 400;
  border: 0;
  border-radius: 0rem;
  background: rgba(0, 98, 155, 1);
}

.hamburger {
    display: block; /* Show hamburger on mobile */
}

.nav1{
  display: none;
}
.nav2{
  position: fixed;
  display: none;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  background: rgba(13, 132, 201, 0.8);
  margin-top: 2.8rem;
  padding-top: 0.8rem;
  animation: dropBox 0.5s ease forwards;
}
.nav2 li{
  padding: 0.4rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  
}
@keyframes dropBox {
  0% {
    transform: translateY(-20px) scaleY(0);
    opacity: 0;
  }
  60% {
    transform: translateY(5px) scaleY(1.05); /* little bounce */
    opacity: 1;
  }
  100% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}

.open{
  display: flex;
}

}
